.background
  height: 100px
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: row
  background: black
  box-shadow: 0 0 4px #fff ,0 0 40px #f700ff
  border-bottom: 3px solid #fff

  .logo
    position: fixed
    left: 20px
    transition: 0.5s
    cursor: pointer
    height: 70px
    &:hover
      scale: 1.2
      transform: rotate(-10deg)
  .languageBtn
    position: fixed
    right: 20px
  .settings
    position: fixed
    right: 20px
    width: 50px
    cursor: pointer
    &:hover
      animation: spin 0.7s ease-in-out

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

@media screen and (max-width: 800px)
  .background
    .settings
      &:hover
        animation: none
    .logo
      &:hover
        scale: 1
        transform: rotate(0deg)
