<div
  [class]="
    'card neonContainer' +
    (liked ? ' swipeRight' : '') +
    (disLiked ? ' swipeLeft' : '')
  "
  (touchstart)="swipe($event, 'start')"
  (touchend)="swipe($event, 'end')"
>
  <p class="neonText hashtags">
    {{
      "#" +
        getJokeService().getJoke().category.toLowerCase() +
        " " +
        getJokeService().getJoke().getFlagsAsHashtags()
    }}
  </p>
  <p class="joke neonText" style="margin-bottom: 5px">
    {{ getJokeService().getJoke().text }}
  </p>
  <p
    class="joke neonText"
    *ngIf="getJokeService().getJoke().isTwoPart"
    style="margin-top: 5px"
  >
    {{ getJokeService().getJoke().answer }}
  </p>
  <div class="btnBox">
    <button class="neonBtnRed" (click)="dislike()" style="width: 120px">
      Dislike
    </button>
    <button
      class="neonBtnGreen"
      (click)="like()"
      style="margin-left: 20px; width: 120px"
    >
      Like
    </button>
  </div>
</div>
